{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Inbox</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Message</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Inbox</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="{% url 'message' %}" class="btn btn-sm btn-neutral">New Message</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Dark table -->
    <div class="row">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Inbox</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="sort" data-sort="name">Sender</th>
                                <th scope="col" class="sort" data-sort="name">Receiver</th>
                                <th scope="col" class="sort" data-sort="status">Subject</th>
                                <th scope="col" class="sort" data-sort="status">Content</th>
                                <th scope="col" class="sort" data-sort="budget">Time</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for message in object_list %}
                            <tr>
                                <th scope="row">
                                    <i class="fas fa-envelope"></i>
                                </th>
                                <td class="budget">
                                    {{ message.sender }}
                                </td>
                                <td class="budget">
                                    {{ message.receiver }}
                                </td>
                                <td class="budget">
                                    {{ message.subject }}
                                </td>
                                <td class="budget">
                                    {{ message.content }}
                                </td>
                                <td class="budget">
                                    {{ message.time|timesince }} ago
                                </td>
                                <td class="text-right">
                                <button type="button" class="btn btn-sm btn-primary" 
                                        data-toggle="modal" data-target="#delete-{{ message.pk }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% for message in object_list %}
    <div class="modal fade" id="delete-{{ message.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this message?
            <div class="card card-frame">
            <div class="card-body">
                <blockquote class="blockquote">
                <p class="mb-0">{{ message.content }}</p>
                <footer class="blockquote-footer">{{ message.sender }} in <cite title="Source Title">{{ message.subject }}</cite></footer>
                </blockquote>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-warning" href="{% url 'delete' message.pk %}">Delete</a>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}